.sidebar{
    width: 4.5%;
    /* box-shadow: 0px 0px 5px rgba(120, 120, 120, 1); */
}

.createTeamBtn {
    width: 3rem;
    height: 3rem;
    /* box-shadow: 0px 1px 5px rgb(146,146,146); */
}

.createTeamBtn:hover{
    box-shadow: 0px 1px 5px rgb(146,146,146);
}

.createTeamBtn:active{
    box-shadow: 0px 1px 5px rgb(146,146,146);
    background-color: rgb(140, 0, 0);
}

@media (max-width: 640px) {
    .sidebar {
      transition: transform 0.3s ease-in-out;
    }
    
    .sidebar.collapsed {
      transform: translateX(-100%);
    }
  }
  