
.profile{
    /* position: absolute;
    top: 10;
    right: 1;
    width:12px;
    margin:0;
    padding:0; */
    width: 5%;
}
.mainFrame{
    /* display: flex;
    flex-direction: row; */
    /* padding: 20; */
    width:95.5%;
}

.middleFrame {
    width: 95%;
}

/* src/app/home/home.css */
.dark .mainFrame {
    @apply bg-dark-bg text-dark-text;
  }
  
  .dark .projectpane {
    @apply bg-dark-bg text-dark-text;
  }
  
  .dark .taskpane {
    @apply bg-dark-bg text-dark-text;
  }
  
  /* Add more dark mode styles as needed */
  